

html{
background-color: #FFF0F5;

}

h1{

color: #7D82B8;

}

h2{
    color: #7D82B8;
}

h3{
    color:#7D82B8

}
#fontcolor {
    color: #4b0082;
    border: 2px #F7A9A8;
    margin: 2%;
    background-color: #F7A9A8;
}